#Intellij
.idea/
*.iml
*.iws

#Mac
.DS_Store

#Maven
log/
target/

#Eclipse
*.classpath
*.project
*.settings
*.metadata

#Python
*.pyc
default.db
argos/components/
argos/static/

argos/settings/local_settings.py
venv/