.query-editor-container {
    height: 100%;
}

.query-editor-container textarea {
    font-family: monospace;
    width: 100%;
    height: 100%;
    resize: none;
}

.no-close .ui-dialog-titlebar-close {
  display: none;
}