.search-bar {
    display: inline-block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
}
.search-bar .twitter-typeahead {
    text-align: left;
}
.search-bar input.form-control {
    display: inline-block;
    width: 700px;
    vertical-align: middle !important;
    border-radius: 0;
    margin-left: -5px;
    margin-right: -5px;
    text-align: left;
}
.search-bar .btn-default {
    color: #ccc;
    background-color: #fff;
}

.search-bar .time-filter-btn {
    border-radius: 0;
    background-image: none;
    border-color: #ddd;
    z-index: 10;
}

.search-bar .time-filter-applied {
    background-color: #66afe9;
    color: #000;
}