.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    height: 425px;
}

.form-horizontal {
    width: 500px;
    text-align: center;
}

.form-horizontal img {
    text-align: center;
    margin-bottom: 20px;
}

.form-horizontal p {
    text-align: right;
}
