{% extends "ingest.html" %}
{% load static %}

{% block title %}DaedaFusion | Research{% endblock %}

{% block active_ingest %}active{% endblock %}

{% block head_css_lib %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'jquery-ui/jquery-ui.min.css' %}">
    <link rel="stylesheet" href="{% static 'jquery-ui-bootstrap/jquery.ui.theme.css' %}">
    <link rel="stylesheet" href="{% static 'jquery-ui-bootstrap/jquery.ui.theme.font-awesome.css' %}">
    <link rel="stylesheet" href="{% static 'DataTables/media/css/jquery.dataTables.min.css' %}">
    <link rel="stylesheet" href="{% static 'datatables-bootstrap3/BS3/assets/css/datatables.css' %}">
{% endblock %}

{% block head_css %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/research.css' %}">
{% endblock %}

{% block body_js_lib %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'jqueryui/jquery-ui.js' %}"></script>
    <script type="text/javascript" src="{% static 'sprintf.js/dist/sprintf.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'DataTables/media/js/jquery.dataTables.js' %}"></script>
    <script type="text/javascript" src="{% static 'datatables-bootstrap3/BS3/assets/js/datatables.js' %}"></script>
{% endblock %}

{% block body_js %}
    {{ block.super }}
    <script type="text/javascript" src="{% static 'js/uuid.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/research.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="research-requests-wrapper">
                </div>
            </div>
            <div class="col-md-6">
                <div class="new-research-wrapper"></div>
            </div>
        </div>
    </div>
{% endblock %}