{% extends "left_sidebar.html" %}
{% load static %}

{% block left_sidebar %}
    <li>
        <a href="#">
            <i class="fa fa-life-bouy fa-fw"></i>
            <span class="text">Site Status</span>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fa fa-cubes fa-fw"></i>
            <span class="text">Domains</span>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fa fa-database fa-fw"></i>
            <span class="text">Partitions</span>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fa fa-cloud fa-fw"></i>
            <span class="text">Hosts & Services</span>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fa fa-certificate fa-fw"></i>
            <span class="text">Licenses & Certificates</span>
        </a>
    </li>
    <li>
        <a href="#">
            <i class="fa fa-tasks fa-fw"></i>
            <span class="text">Audit Log</span>
        </a>
    </li>
{% endblock %}