<form class="form-horizontal" role="form">
    <div class="form-group">
        <label for="partition-name" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="partition-name" placeholder="Partition Name"/>
        </div>
    </div>
    <div class="form-group">
        <label for="partition-tags" class="col-sm-2 control-label">Tags</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="partition-tags" placeholder="Tags" aria-describedby="tagHelp"/>
            <span id="tagHelp" class="help-block">Comma Separated</span>
        </div>
    </div>
</form>